*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #222222;
}
.container{
    color: aliceblue;
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.8px);
    -webkit-backdrop-filter: blur(12.8px);
    border: 1px solid rgba(255, 255, 255, 1);
}

.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.details label{
    justify-content: space-around;
}
input, textarea{
    color: aliceblue;
    background-color: transparent;
    
}
footer{
    background-color: aliceblue;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
    justify-content: center;
    justify-content: center;
}